{
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "singleQuote": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}